body {
  background-color: black;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
}

.camelo {
  background-color: rgb(228, 59, 8);
  color: white;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}
