body {
  background-color: white (235, 43, 43);
  color: white (0, 255, 64);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.camelo {
  background-color: rgb(39, 168, 119);
  color: red;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}
